html {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, white 46%, rgb(132, 132, 178) 100%);
}

h1, h3, h4, p, label {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h3 {
    text-align: center;
}

hr {
    background-color: black;
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}

label {
    font-weight: bold;
}

#header-btns {
    background-color: rgb(132, 132, 178);
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    border: 5px solid rgba(2,0,36,1);
}

#header-btns>button {
    margin: 10px;
    height: 35px;
    width: 100px;
    background-color: rgb(120, 159, 120);
}

#header-btns>button:hover {
    margin: 10px;
    height: 35px;
    width: 100px;
    background-color: rgb(78, 103, 78);
}

#form-container {
    margin: 0 auto;
    width: 50%;
    border: 5px solid rgba(2,0,36,1);
}

#chat-container {
    text-align: center;
    background-color: rgb(132, 132, 178);
    padding: 10px;
    margin: 0 auto;
    width: 50%;
    border: 5px solid rgba(2,0,36,1);
}

#group-options {
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 50%;
    border: 5px solid rgba(2,0,36,1);
}

#join-btn {
    display: block;
    border-radius: 25px;
    margin: auto;
    width: 25%;
    height: 50px;
    background-color: rgb(120, 159, 120)
}

#join-btn:hover {
    background-color: rgb(78, 103, 78);
}

#msg-container {
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 50%;
    border: 5px solid rgba(2,0,36,1);
}

#message, #to_user {
    margin: 10px;
    height: 35px;
}

#container {
    padding: 10px;
    text-align: left;
    background-color: white;
    border: 5px solid rgba(2,0,36,1);
    margin: 20px auto;
    width: 50%;
}

#chat-hstry {
    text-align: center;
}

#send-prv, #send-grp {
    margin: 10px;
    border-radius: 25px;
    height: 35px;
    width: 150px;
    background-color: rgb(120, 159, 120);
}

#send-prv:hover, #send-grp:hover {
    background-color: rgb(78, 103, 78);
}