html {
    background-color: grey;
}

h1, h3 {
    text-align: center;
}

hr {
    background-color: black;
    border: 1px solid black;
}

#form-container {
    margin: 0 auto;
    width: 50%;
    border: 2px solid black;
}